<div class="weather-summary" fxLayoutAlign="center center" fxFlexFill fxLayout="row">
    <div class="weather-picture" fxLayoutAlign="center center" fxFlexFill fxFlex="50">
        <img class="logo" src="../../../assets/svg/weather/{{weatherIconCode}}.svg"/>
    </div>
    <div class="weather" fxFlex="50" fxLayoutAlign="center center" fxFlexFill fxLayout="column">
        <div class="weather-degree" fxLayoutAlign="center center" fxFlexFill fxFlex="80">
            <div class="degree">
                <p class="degree-text">{{degree}}</p>
                <p class="desc-text">{{desc}}</p>
            </div>
        </div>
    </div>
</div>