.weather-detail{
    padding: 0px;
    margin-right: 10px;
}

.weather-detail-text-item{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: clamp(10px, 2vw, 16px);
}

.weather-detail-text{
    padding-top: 1%;
    margin-top: 8px;
    margin-left: 10px;
    overflow: right;
}

.weather-detail-logo{
    padding-top: 30%;
    padding-left: 30%;
    max-height: 40px;
    max-width: 40px;
    min-height: 30px;
    min-width: 30px;
    height: 100%;
    width: 100%;
}

.weather-detail-picture{
    padding: 0px;
}